<?xml version="1.0" encoding="ISO-8859-1"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:d="http://aitools.org/programd/xml-responder-template">
<!--This is a simple example of an HTML chat template for Program D.-->
    <head>
        <!--The value associated with a bot predicate, such as
            "name", is inserted wherever you use a bot element
            with a name attribute that corresponds to a predicate name.-->
        <title>
            Dialogue with <d:bot name="name"/>
        </title>
        <!--This is a simple stylesheet to format the page.-->
		<link rel="stylesheet" type="text/css" href="docs/sample.css" />
    </head>
    <!--The body element is set to automatically give focus to the
        input field each time the document is loaded.-->
    <body onload="document.forms[0].elements[0].focus();">
        <table border="0" cellspacing="5" cellpadding="0" width="500">
            <tr>
                <td width="30%" valign="top">
                    <p class="fieldlabel">
                        You said:
                    </p>
                </td>
                <td width="70%" valign="top">
                    <p id="userinput">
                        <d:userinput/>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="30%" valign="top">
                    <p class="fieldlabel">
                        <!--The name of the bot will be substituted here.-->
                        <d:bot name="name"/> said:
                    </p>
                </td>
                <td width="70%" valign="top">
                    <p class="botresponse">
                        <!--The bot's response will be substituted here.-->
                        <d:response/>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="100%" colspan="2" valign="top">
                    <form method="post">
                        <input type="text" size="50" name="text" />
                        <input type="submit" value="Say" />
                    </form>
                </td>
            </tr>
            <tr>
                <td width="100%" colspan="2" valign="top">
                    <p class="bottomtext">
                        <!--Again we display the bot name, and also the hostname.-->
                        You are speaking with <d:bot name="name"/> from <d:hostname/>.
                    </p>
                    <p class="bottomtext">
                        <!--Here is an example of getting another bot predicate value (master).-->
                        <d:bot name="name"/>'s botmaster is <d:bot name="master"/>.
                    </p>
                    <p>
                        You are <d:not-logged-in>not</d:not-logged-in> logged in.
                    </p>
                    <p>
                        You can:
                    </p>
                    <d:logged-in>
                        <ul>
                            <li>
                                <p>
                                    <!--This link will request a logout.-->
                                    <a href="?request=logout">log out</a>.
                                </p>
                            </li>
                        </ul>
                    </d:logged-in>
                    <d:not-logged-in>
                        <ul>
                            <li>
                                <p>
                                    <!--This link will request a login form.-->
                                    <a href="?request=send-login-form">log in</a>.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <!--This link will request a new user registration form.-->
                                    <a href="?request=send-registration-form">register a new username and password</a>.
                                </p>
                            </li>
                        </ul>
                    </d:not-logged-in>
                </td>
            </tr>
        </table>
    </body>
</html>