<?xml version="1.0" encoding="ISO-8859-1"?>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			Login Succeeded
		</title>
		<link rel="stylesheet" type="text/css" href="sample.css" />
	</head>
	<body>
		<h1>
			Login Succeeded
		</h1>
        <p>
            You can:
        </p>
        <ul>
            <li>
                <p>
                    <!--This link will request the default template and bot.-->
                    <a href="/">chat</a>.
                </p>
            </li>
            <li>
                <p>
                    <!--This link will request a logout.-->
                    <a href="?request=logout">log out</a>.
                </p>
            </li>
        </ul>
	</body>
</html>
