<?xml version="1.0" encoding="ISO-8859-1"?>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			Logout Succeeded
		</title>
		<link rel="stylesheet" type="text/css" href="sample.css" />
	</head>
	<body>
		<h1>
			Logout Succeeded
		</h1>
        <p>
            You can:
        </p>
        <ul>
            <li>
                <p>
                    <!--This link will request a login form.-->
                    <a href="?request=send-login-form">log in</a>.
                </p>
            </li>
            <li>
                <p>
                    <!--This link will request a new user registration form.-->
                    <a href="?request=send-registration-form">register a new username and password</a>.
                </p>
            </li>
        </ul>
	</body>
</html>
