<html>
 <head>
  <title>Program D Flash Interface</title>
 </head>
 <body bgcolor="#ffffff">
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
   codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0"
   width="300" height="300">
   <param name="movie" value="bot.swf"/>
   <param name="quality" value="high"/>
   <param name="bgcolor" value="#ffffff"/>
   <embed src="bot.swf" quality="high" bgcolor="#ffffff" width="300" height="300"
    type="application/x-shockwave-flash"
    pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"
   />
  </object>
 </body>
</html>
